<form id="myform" class="form-signin">
  <h1>Client</h1>

  <input type="text" id="lastname" class="form-control" name="lastname" placeholder="nom">
  <input type="text" id="firstname" class="form-control" name="firstname" placeholder="prenom">


  <input type="text" id="adress" class="form-control" name="adress" placeholder="adresse">
  <input type="text" id="postal" class="form-control" name="postal" placeholder="CP" pattern="[0-9]{5}">
  <input type="text" id="city" class="form-control" name="city" placeholder="ville">

  <input type="tel" id="phone" class="form-control" name="phone" placeholder="Telephone" pattern="[0-9]{2} [0-9]{2} [0-9]{2} [0-9]{2} [0-9]{2}">

  <input type="email" id="email" class="form-control" name="email" placeholder="email">
  <br>
  <div id="civilite" class="row">
    <div class="col">
      <label class="civilite" for="title">Civilité</label><br>
    </div>
    <div class="col">
      <input class="civilite" type="radio" id="male" name="gender" value="homme">
      <label class="civilite" for="male">M.</label><br>
    </div>
    <div class="col">
      <input class="civilite" type="radio" id="female" name="gender" value="femme">
      <label class="civilite" for="female">Mme.</label>
    </div>

  </div>
  <br>
  <div>
    <input type="password" id="password" class="form-control" name="password" placeholder="mot de passe">
    <input type="password" id="passwordconf" class="form-control" name="password" placeholder="mot de passe confirmation">
    <div id="validationServer03Feedback" class="invalid-feedback">
      Les deux mot de passe ne correspondent pas
    </div>
  </div>
  <br>
  <input type="submit" class="btn btn-lg btn-primary btn-block" value="LogIn">
</form>
